@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; }

.wrapper {
  width: 1250px;
  margin: 0 auto; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
  font-weight: 300;
  color: white; }

h1 {
  font-size: 1.7em; }

h2 {
  font-size: 1.4em; }

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  padding: 20px;
  z-index: 1979; }
  @media screen and (max-width: 640px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0;
      background-color: #222;
      box-shadow: 0px 10px 10px -5px rgba(34, 34, 34, 0.5); } }
  .header__logo {
    display: block;
    padding: 20px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    @media screen and (max-width: 640px) {
      .header__logo {
        margin-top: 20px; } }
    .header__logo svg {
      width: auto;
      height: 40px; }
    .header__logo:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    @media screen and (max-width: 640px) {
      .header__logo {
        padding: 10px; } }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.nav__link {
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 0 20px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .nav__link:hover {
    color: #F4AA5D; }
  @media screen and (max-width: 640px) {
    .nav__link {
      line-height: 40px; } }

.footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  padding: 40px 20px 20px 40px;
  width: 100%; }
  @media screen and (max-width: 640px) {
    .footer {
      text-align: center; } }
  .footer__social {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%; }
    .footer__social a {
      font-size: 14px;
      color: white;
      letter-spacing: 1px;
      text-transform: capitalize;
      text-decoration: none;
      margin-right: 20px;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
      .footer__social a:hover {
        color: #F4AA5D; }

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.page__title {
  line-height: 1em;
  font-size: 3em;
  color: #222;
  letter-spacing: 3px;
  padding: 20px 20px 80px 20px;
  margin: 20px; }

.page__main {
  background-color: white;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222; }
  .page__main:after {
    content: "";
    display: table;
    clear: both; }

.home__section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center center;
  padding: 20px; }

.section__link {
  text-decoration: none; }

.section__title {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: #222;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 20px; }

.section__embed {
  height: 500px; }
  .section__embed iframe {
    width: 100%;
    height: 400px; }
    @media screen and (max-width: 640px) {
      .section__embed iframe {
        width: auto; } }

.page__live {
  margin: 200px auto 100px auto;
  list-style: none;
  padding: 0; }

.live__post {
  border-top: 1px solid #555;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .live__post:hover {
    background-color: #E8DAC6;
    color: #222; }
    .live__post:hover .live__category, .live__post:hover .live__date {
      color: #F4AA5D; }
    .live__post:hover .live__title {
      color: #222; }
      .live__post:hover .live__title--subtitle {
        color: #F4AA5D; }
  @media screen and (max-width: 800px) {
    .live__post {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.live__category, .live__date {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  color: #E8DAC6;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }
  @media screen and (max-width: 640px) {
    .live__category, .live__date {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; } }

.live__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E8DAC6; }
  @media screen and (max-width: 640px) {
    .live__title {
      font-size: 1.6em; } }
  .live__title--subtitle {
    color: #555; }

.live__link {
  color: #E8DAC6;
  text-decoration: none; }

.live__date {
  text-align: right;
  vertical-align: bottom; }

.live__post:last-of-type {
  border-bottom: 1px solid #555; }

.page__post {
  max-width: 900px;
  margin: 150px auto 100px auto;
  color: #AAA; }
  @media screen and (max-width: 640px) {
    .page__post {
      margin-top: 200px; } }

.post__image {
  margin: 0 auto;
  width: 100%; }

.post__header {
  text-align: center;
  margin-bottom: 40px; }

.post__title {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase; }

.post__meta {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: #AAA; }

.post__content {
  font-size: 18px;
  line-height: 1.5em;
  padding: 20px; }
  .post__content a {
    color: #F4AA5D;
    text-decoration: none; }
    .post__content a:hover {
      text-decoration: underline; }

.page__rawlove {
  max-width: 900px;
  margin: 150px auto 100px auto;
  color: #AAA;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .page__rawlove {
      width: 90%;
      margin-bottom: 40px; } }

.mixtape__list {
  list-style: none;
  padding: 0; }

.mixtape__embed iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 40px; }
