---
title: RAW Poets
layout: home
---

{% for section in site.home-sections%}
  {% if section.link %}
    <a class="section__link" href="{{ section.link }}">
      {% if section.background %}<div class="home__section" style="background-image: url('{{ section.background }}')">
      {% else %}
      <div class="home__section" style="background-color: {{ section.solid }}">
      {% endif %}
        <div class="wrapper">
            {% if section.title %}
                <div class="section__title--{{ section.fontcolor }}">
                    <h1>{% if section.category %}<span class="category">{{ section.category }}</span>{% endif %}{{ section.title }}</h1>
                    {% if section.description %}
                    <p>{{ section.description }}</p>
                    {% endif %}
                </div>
            {% endif %}
            {% if section.embed %}
            <div class="section__embed">
              {{ section.embed }}
            </div>
            {% endif %}
        </div>
      </div>
    </a>
  {% else %}
    {% if section.background %}<div class="home__section" style="background-image: url('{{ section.background }}')">
    {% else %}
    <div class="home__section" style="background-color: {{ section.solid }}">
    {% endif %}
      <div class="wrapper">
          {% if section.title %}
              <div class="section__title--{{ section.fontcolor }}">
                  <h1>{% if section.category %}<span class="category">{{ section.category }}</span>{% endif %}{{ section.title }}</h1>
                  {% if section.description %}
                  <p>{{ section.description }}</p>
                  {% endif %}
              </div>
          {% endif %}
          {% if section.embed %}
          <div class="section__embed">
              {{ section.embed }}
          </div>
          {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
