<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/main.js" async></script>

<footer class="site__footer">
		<p>
			Follow Us<a href="http://www.twitter.com/rawpoets" target="_blank">{% include twitter.html %}</a><a href="http://www.instagram.com/rawpoets" target="_blank">{% include instagram.html %}</a>
		</p>
		<p class="site__footer--credits">
			SITE BY <a href="http://www.jeffreyherrera.com/" target="_blank">JEFFREY HERRERA</a>
		</p>
</footer>