<div class="newsletter">
	<h1>Get Updates on what we're up to</h1>
	<form class="newsletter__form validate" action="https://rawpoets.us13.list-manage.com/subscribe/post?u=30c1b93c7593ef4da5bec61ae&amp;id=cadf30de84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<input  type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	</form>
</div>