.project
	padding: ($spacing * 4) 0
	background-size: cover
	background-position: center
	background-attachment: fixed
	position: relative

	+media-query($m)
		padding: ($spacing * 2) 0


	.overlay
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #000
		opacity: 0.7
		pointer-events: none

	iframe
		width: 100%
		min-height: 450px
		position: relative
		z-index: 1
		display: blck

		+media-query($m)
			width: 300px
			margin: 0 auto